/* Autor: the_sandok */
.naked {
  background:
    linear-gradient(
      to bottom,
      #000 8%,
      #cb9661 9% 30%,
      #f2c30f 31% 33%,
      #cb9661 34% 60%,
      #7e8c8d 61% 64%,
      #fff 65% 79%,
      #cb9661 80% 94%,
      #6e4111 95%
    );
}

.prisoner {
  background:
    linear-gradient(
      to bottom,
      #6e4111 2%,
      #cb9661 3% 28%,
      #fff 29% 35%,
      #000 36% 42%,
      #fff 43% 49%,
      #000 50% 56%,
      #fff 57% 63%,
      #000 64% 70%,
      #fff 71% 77%,
      #000 78% 85%,
      #fff 86% 92%,
      #1a2f35 93%
    );
}

.child {
  background:
    linear-gradient(
      to bottom,
      transparent 30%,
      #813b15 31% 38%,
      #cb9661 39% 55%,
      #f1c20c 56% 70%,
      #1689ff 71% 82%,
      #cb9661 83% 89%,
      #fff 90% 94%,
      #000 95%
    );
}

.superman {
  background:
    linear-gradient(
      to bottom,
      #813b15 6%,
      #cb9661 7% 30%,
      #0152b8 31% 60%,
      #f2e506 61% 62%,
      #cb0503 63% 72%,
      #0152b8 73% 90%,
      #cb0503 91%
    );
}

.wednesday {
  background:
    linear-gradient(
      to bottom,
      #000 17%,
      #cb9661 18% 30%,
      #fff 31% 33%,
      #000 34% 82%,
      #cb9661 83% 89%,
      #fff 90% 94%,
      #000 95%
    );
}

.goose {
  background:
    linear-gradient(
      to bottom,
      transparent 50%,
      #d8d3c4 51% 59%,
      #e96522 60% 64%,
      #d8d3c4 65% 94%,
      #e96522 95%
    );
}

/* Autor: davidd */
.sport1 {
  background:
    linear-gradient(
      to bottom,
      #242726 5%,
      #f7be81 6% 25%,
      #fff 26% 60%,
      #000 61% 90%,
      #f00 91%
    );
}

/* Autor: dhardysd */
.krillin {
  background:
    linear-gradient(
      to bottom,
      #f2cddb 6% 25%,
      #ed5420 26% 55%,
      #184aef 26% 60%,
      #ed5420 61% 90%,
      #184aef 91%
    );
}

.homer {
  background:
    linear-gradient(
      to bottom,
      #f0d101 10% 25%,
      #f2f2f2 30% 55%,
      #f0d101 26% 60%,
      #6ac6f1 63% 90%,
      #6c697b 91%
    );
}

.shaggy {
  background:
    linear-gradient(
      to bottom,
      #e59e3e 10%,
      #f2d1c3 10% 25%,
      #8eb25e 30% 65%,
      #a33f35 63% 90%,
      #435155 91%
    );
}

.plomo {
  background:
    linear-gradient(
      to bottom,
      #b9bab2 10%,
      #d2b1a2 10% 25%,
      #232125 30% 65%,
      #546771 63% 90%,
      #d4d4d4 91%
    );
}

.blonde {
  background:
    linear-gradient(
      to bottom,
      #fffa15 0%,
      #fcdcfa 20% 35%,
      #000 0% 50%,
      #fcdcfa 0% 60%,
      #000 55% 70%,
      #fcdcfa 5% 85%,
      #d32423 0% 95%
    );
}

/* Author: nayuhi */
.sailor-moon {
  background:
    linear-gradient(
      to bottom,
      #fde024 10%,
      #fce3cd 10% 25%,
      #fd3653 25% 25.5%,
      #fce3cd 10% 28%,
      #3e499b 28% 34%,
      #fd3653 34% 40%,
      #f2f2f2 41% 55%,
      #3e499b 26% 66%,
      #fce3cd 65% 84%,
      #fd3653 85%
    );
}

.sailor-marte {
  background:
    linear-gradient(
      to bottom,
      #000 10%,
      #fce3cd 10% 25%,
      #d84631 25% 25.5%,
      #fce3cd 10% 28%,
      #d84631 28% 34%,
      #362763 34% 40%,
      #f2f2f2 41% 55%,
      #d84631 26% 66%,
      #fce3cd 65% 92%,
      #d84631 92%
    );
}

.sailor-jupiter {
  background:
    linear-gradient(
      to bottom,
      #5e3c1b 10%,
      #fce3cd 10% 25%,
      #73ab33 25% 25.5%,
      #fce3cd 10% 28%,
      #73ab33 28% 34%,
      #de8dc5 34% 40%,
      #f2f2f2 41% 55%,
      #73ab33 26% 66%,
      #fce3cd 65% 84%,
      #73ab33 85%
    );
}

.sailor-mercurio {
  background:
    linear-gradient(
      to bottom,
      #486361 10%,
      #fce3cd 10% 25%,
      #7da0db 25% 25.5%,
      #fce3cd 10% 28%,
      #7da0db 28% 34%,
      #cde2f9 34% 40%,
      #f2f2f2 41% 55%,
      #7da0db 26% 66%,
      #fce3cd 65% 84%,
      #7da0db 85%
    );
}

.sailor-venus {
  background:
    linear-gradient(
      to bottom,
      #fde024 10%,
      #fce3cd 10% 25%,
      #e19136 25% 25.5%,
      #fce3cd 10% 28%,
      #e19136 28% 34%,
      #362763 34% 40%,
      #f2f2f2 41% 55%,
      #e19136 26% 66%,
      #fce3cd 65% 88%,
      #e19136 88% 90%,
      #fce3cd 65% 92%,
      #e19136 92%
    );
}

/* Autor: Chrisvdev */
.chrisvdev {
  background:
    linear-gradient(
      to bottom,
      #ce8f8a 25%,
      #292f31 26% 60%,
      #2b5566 61% 90%,
      #3b1e07 91%
    );
}

.ghost {
  background:
    linear-gradient(
      to bottom,
      rgb(240 240 240 / 100%) 0%,
      rgb(187 187 187 / 50%) 65%,
      rgb(103 103 103 / 10%) 100%
    );
}

/* Autor: GariCarandai */
.mike {
  background:
    linear-gradient(
      to bottom,
      transparent 65%,
      #a7da3d 66%
    );
}

/* Autor: Enrique */
.moda {
  background:
    linear-gradient(
      to bottom,
      #303018 0%,
      #fcdcfa 10% 35%,
      #241e24 35% 60%,
      #000 55% 85%,
      #f0f7f7 0% 95%
    );
}

.police {
  background:
    linear-gradient(
      to bottom,
      #041643 0% 10%,
      #6c6a15 11% 13%,
      #fcdcfa 14% 35%,
      #041643 35% 60%,
      #000 61% 63%,
      #041643 55% 85%,
      #000 0% 95%
    );
}

.security {
  width: 40px;
  height: 95px;
  background:
    linear-gradient(
      to bottom,
      #cca356 0% 35%,
      #fcf60a 35% 60%,
      #141413 61% 85%,
      #000 0% 95%
    );
}

/* Autor: Gordon_F */
.joker {
  background:
    linear-gradient(
      to bottom,
      #538f1c 5%,
      #ffff 6% 18%,
      #e50914 19% 22%,
      #ffff 23% 25%,
      #511847 26% 58%,
      #3b1e07 59% 60%,
      #511847 61% 90%,
      #3b1e07 91%
    );
}

.sheldon-doppler {
  background:
    linear-gradient(
      to right,
      #000 4%,
      #ffff 5% 10%,
      #000 11% 19%,
      #ffff 20% 29%,
      #000 30% 41%,
      #ffff 42% 59%,
      #000 60% 71%,
      #ffff 72% 81%,
      #000 82% 90%,
      #ffff 91% 96%,
      #000 100%
    );
}

.hulk {
  width: 50px;
  height: 115px;
  background:
    linear-gradient(
      to bottom,
      #391f07 5%,
      #23830e 6% 61%,
      #895508 62% 80%,
      #198908 90%
    );
}

/* Tortugas ninja (maxi83c) */
.leonardo {
  background:
    linear-gradient(
      to bottom,
      #4ea54f 0% 5%,
      #0081bf 5% 10%,
      #4ea54f 10% 20%,
      transparent 20% 45%,
      #624242 45% 50%,
      transparent 50% 65%,
      #4ea54f 65% 80%,
      #0081bf 80% 85%,
      #4ea54f 85% 100%
    ),
    linear-gradient(
      to right,
      #bc7200 0 15%,
      #4ea54f 16% 50%,
      #4b4217 11%
    );
}

.michelangelo {
  background:
    linear-gradient(
      to bottom,
      #4ea54f 0% 5%,
      #e08022 5% 10%,
      #4ea54f 10% 20%,
      transparent 20% 45%,
      #624242 45% 50%,
      transparent 50% 65%,
      #4ea54f 65% 80%,
      #e08022 80% 85%,
      #4ea54f 85% 100%
    ),
    linear-gradient(
      to right,
      #bc7200 0 15%,
      #4ea54f 16% 50%,
      #4b4217 11%
    );
}

.donatello {
  background:
    linear-gradient(
      to bottom,
      #4ea54f 0% 5%,
      #5b2375 5% 10%,
      #4ea54f 10% 20%,
      transparent 20% 45%,
      #624242 45% 50%,
      transparent 50% 65%,
      #4ea54f 65% 80%,
      #5b2375 80% 85%,
      #4ea54f 85% 100%
    ),
    linear-gradient(
      to right,
      #bc7200 0 15%,
      #4ea54f 16% 50%,
      #4b4217 11%
    );
}

.raphael {
  background:
    linear-gradient(
      to bottom,
      #4ea54f 0% 5%,
      #d51b1e 5% 10%,
      #4ea54f 10% 20%,
      transparent 20% 45%,
      #624242 45% 50%,
      transparent 50% 65%,
      #4ea54f 65% 80%,
      #d51b1e 80% 85%,
      #4ea54f 85% 100%
    ),
    linear-gradient(
      to right,
      #bc7200 0 15%,
      #4ea54f 16% 50%,
      #4b4217 11%
    );
}

/* (Maikcol) */
.medieval-soldier {
  background:
    linear-gradient(
      to bottom,
      #8a939a 0% 20%,
      transparent 20% 45%,
      #8a939a 45% 50%,
      #8a939a 50% 65%,
      #442a09 65% 68%,
      #8a939a 67% 90%,
      #442a09 90% 100%
    ),
    linear-gradient(
      to right,
      #8a939a 0 15%,
      #ffd9b1 16% 85%,
      #8a939a 85% 100%
    );
}

/* (Maxi83c) */
.lego {
  width: 40px;
  height: 95px;
  background: radial-gradient(#0003 3px, #fff9 5px, #0000 6px), blue;
  background-size: 20px 20px;
  box-shadow: inset 0 0 10px 2px #fff6;
}

/* (Maikcol) */
.mario {
  width: 25px;
  height: 50px;
  background:
    linear-gradient(
      to bottom,
      #f00 0% 13%,
      #ffc89e 13% 35%,
      #f00 35% 58%,
      #fcf8ff 58% 68%,
      transparent 68% 75%,
      #0026ff 75% 85%,
      #7f3300 85% 95%
    ),
    linear-gradient(
      to right,
      #f8f804 0% 15%,
      #0026ff 15% 100%
    );
}

/* GariCarandai */
.invisible-man {
  width: 40px;
  height: 84px;
  background:
    linear-gradient(
      to right,
      transparent 0 6px,
      #222 7px 9px,
      #111 10px 12px,
      #000 13px 30px,
      #111 31px 33px,
      transparent 34px 40px
    ),
    linear-gradient(
      to right,
      transparent 0 6px,
      #222 7px 9px,
      #111 10px 12px,
      #000 13px 30px,
      #111 31px 33px,
      transparent 34px 40px
    ),
    linear-gradient(
      to right,
      transparent 0 6px,
      #222 7px 9px,
      #111 10px 12px,
      #000 13px 30px,
      #111 31px 33px,
      transparent 34px 40px
    ),
    linear-gradient(
      to right,
      transparent 0 6px,
      #a0a0a0 7px 9px,
      #909090 10px 12px,
      #808080 13px 30px,
      #858585 31px 33px,
      transparent 34px 40px
    ),
    linear-gradient(
      to right,
      #222 0 2px,
      #111 3px 5px,
      #000 6px 37px,
      #111 38px 40px
    );
  background-repeat: no-repeat;
  background-size: 40px 4px;
  background-position: 0 0, 0 4px, 0 8px, 0 12px, 0 16px;
}

/* Maxi83c */
.manzdev {
  width: 40px;
  height: 84px;
  background:
    linear-gradient(
      to right,
      transparent 8px,
      #000 8px 32px,
      transparent 32px
    ),
    linear-gradient(
      to right,
      #000 36px,
      transparent 36px
    ),
    linear-gradient(
      to right,
      #000 12px,
      #cc984f 12px 28px,
      #000 28px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #cc984f 4px 12px,
      #ffcc80 12px 28px,
      #1a1a1a 28px 32px,
      #000 32px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #ffcc80 4px 8px,
      #000 8px 12px,
      #ffcc80 12px 20px,
      #000 20px 24px,
      #ffcc80 24px 32px,
      #1a1a1a 32px 36px,
      #000 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #ffcc80 4px 8px,
      #000 8px 12px,
      #ffcc80 12px 20px,
      #000 20px 24px,
      #ffcc80 24px 32px,
      #1a1a1a 32px 36px,
      #000 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #ffcc80 4px 8px,
      #ebb267 8px 20px,
      #ffcc80 20px 32px,
      #000 32px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #ffcc80 4px 28px,
      #cc984f 28px 32px,
      #000 32px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #ffcc80 4px 8px,
      #000 8px 16px,
      #cc984f 16px 28px,
      #000 28px 36px,
      transparent 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #ffcc80 4px 8px,
      #000 8px 12px,
      #cc984f 12px 20px,
      #000 20px 32px,
      transparent 32px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #000 4px 28px,
      #1a1a1a 28px 32px,
      #000 32px 36px,
      transparent 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #1a1a1a 4px 8px,
      #000 8px 32px,
      #1a1a1a 32px 36px,
      #000 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #1a1a1a 4px 8px,
      #000 8px 16px,
      #17ffff 16px 20px,
      #000 20px 32px,
      #1a1a1a 32px 36px,
      #000 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #1a1a1a 4px 8px,
      #000 8px 12px,
      #0d2061 12px 20px,
      #cc2554 20px 24px,
      #000 24px 32px,
      #1a1a1a 32px 36px,
      #000 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #1a1a1a 4px 8px,
      #000 8px 12px,
      #17ffff 12px 16px,
      #e65100 16px 20px,
      #0d2061 20px 24px,
      #000 24px 32px,
      #1a1a1a 32px 36px,
      #000 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #1a1a1a 4px 8px,
      #000 8px 32px,
      #ffcc80 32px 36px,
      #ebb267 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #8dbceb 4px 8px,
      #9cf 8px 28px,
      #8dbceb 28px 32px,
      #ffcc80 32px 36px,
      #ebb267 36px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #8dbceb 4px 8px,
      #9cf 8px 28px,
      #8dbceb 28px 32px,
      transparent 32px
    ),
    linear-gradient(
      to right,
      transparent 4px,
      #9cf 4px 12px,
      #8dbceb 12px 16px,
      transparent 16px 20px,
      #8dbceb 20px 24px,
      #9cf 24px 32px,
      transparent 32px
    ),
    linear-gradient(
      to right,
      #000 4px,
      #1a1a1a 4px 16px,
      transparent 16px 20px,
      #1a1a1a 20px 32px,
      #000 32px 36px,
      transparent 36px
    ),
    linear-gradient(
      to right,
      #000 4px 16px,
      transparent 16px 20px,
      #000 20px 36px,
      transparent 36px
    );
  background-size: 40px 4px;
  background-repeat: no-repeat;
  background-position:
    0 0,
    0 4px,
    0 8px,
    0 12px,
    0 16px,
    0 20px,
    0 24px,
    0 28px,
    0 32px,
    0 36px,
    0 40px,
    0 44px,
    0 48px,
    0 52px,
    0 56px,
    0 60px,
    0 64px,
    0 68px,
    0 72px,
    0 76px,
    0 80px,
    0 84px;
  filter:
    drop-shadow(1px 0 white)
    drop-shadow(0 1px white)
    drop-shadow(-1px 0 white)
    drop-shadow(0 -1px white);
}

/* Eduardo Enrique */
.padawanstrainer {
  width: 30px;
  height: 85px;
  background:
    linear-gradient(
      to bottom,
      #a82db6 0% 5%,
      #fcdcfa 8% 35%,
      #376a26 35% 60%,
      #041643 55% 80%,
      #fcdcfa 85% 96%,
      #000 97% 98%
    );
}
